.imageUpload {
  width: 100%;
  height: 100%;
}
.imageUpload button {
  width: 100%;
  height: 40px;
}
.imageUploadPreview {
  text-align: center;
  width: 100%;
  height: calc(100% - 40px);
  align-items: center;
}
.imageUploadPreview p {
  padding: 30px 0;
}
.imageUploadPreview img {
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
}
