button.hamburger {
  margin: auto;
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
}
button.hamburger span {
  transition: top 0.4s 0.2s, transform 0.4s 0s;
  position: relative;
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
  top: 0;
}
button.hamburger.x span {
  transition: top 0.4s 0s, transform 0.4s 0.2s;
}
button.hamburger.x span:nth-child(1) {
  top: 8px;
  transform: rotate(40deg);
}
button.hamburger.x span:nth-child(2) {
  opacity: 0;
}
button.hamburger.x span:nth-child(3) {
  top: -8px;
  transform: rotate(-40deg);
}

@media screen and (max-width: 900px) {
  button.hamburger {
    display: block;
  }
}
