main#home {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* top: -78px; */
  background: linear-gradient(
    0deg,
    #243620,
    0%,
    rgba(226, 218, 172, 1) 25%,
    rgba(103, 217, 237, 1) 57%,
    rgba(64, 96, 145, 1) 100%
  );
}

div.tint {
  opacity: 1;
  mix-blend-mode: overlay;
  height: 120vh;
  pointer-events: none;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(226, 218, 172, 0.5) 25%,
    rgb(4, 97, 114) 57%,
    rgb(15, 45, 88) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}
div.lightTint {
  opacity: 0.65;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: soft-light;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  transition: all 0.5s;
}
#learnmore {
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%);
}
#section2 {
  background-color: #243620;
}
.features {
  padding-top: 200px;
  background-color: #000f14;
  height: 150vh;
  position: relative;
  z-index: 96;
  color: #fff;
}
.borderImage {
  position: absolute;
  top: -100px;
}
video {
  mask-image: url(../images/black.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 900px;
  min-height: 200px;
  display: block;
  margin: auto;
  top: 100px;
}
