div.backdrop {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 97;
  background-color: rgba(0, 0, 0, 0.568);
  display: none;
}

@media screen and (max-width: 900px) {
  div.backdrop {
    display: block;
  }
}
