.product {
  position: relative;
  background-color: var(--medium);
  color: #000;
  display: grid;
  justify-content: center;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'image image'
    'header header'
    'details details'
    'description description'
    'tags tags'
    'cart cart';
  width: 100%;
}
.newProduct {
  grid-row: 1;
  grid-column: 1/-1;
}
.product.editable {
  grid-template-areas:
    'image image'
    'header header'
    'name details'
    'sku details'
    'stock details'
    'price details'
    'newDetail newDetail'
    'description description'
    'tags tags'
    'cart cart';
  width: 100%;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}
.product.newProduct.editable {
  grid-template-areas:
    'image image'
    'header header'
    'name details'
    'sku details'
    'stock details'
    'price details'
    'newDetail newDetail'
    'description description'
    'tags tags'
    'cart cart';
  width: 100%;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}
.product .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  background-color: var(--medium);
  color: #000;
  grid-area: header;
  text-align: center;
  align-items: center;
  padding: 5px;
}
.product .header h2 {
  grid-column: 1/-1;
}
.product .name {
  grid-area: name;
}
.product .checkboxContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .checkboxContainer input {
  width: 20px;
  height: 20px;
}
.product .sku {
  grid-area: sku;
}
.product .price {
  grid-area: price;
}
.product .description {
  text-align: center;
  grid-area: description;
  padding: 10px 0px;
}
.product .tags {
  grid-area: tags;
  width: 100%;
}
.product .stock {
  grid-area: stock;
}
.product .tags textarea {
  width: 100%;
  resize: none;
}
.product div.product-image {
  grid-area: image;
  background-color: var(--light);
  width: 100%;
  text-align: center;
  max-height: 400px;
}
.product div.product-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.product div.product-image .updateImages {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}
.product div.product-image .updateImages .image-container {
  width: 100%;
  height: 100%;
  max-height: 400px;
}
.product div.product-image .updateImages .image-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.product .details {
  height: 100%;
  width: 100%;
  grid-area: details;
  text-align: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  background-color: var(--light);
}
.product .details h3 {
  height: 20px;
  line-height: 30px;
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 10px;
}
.product .details h3 span {
  height: 100%;
  background-color: var(--light);
  padding: 0 5px;
}
.product .details.editable {
  grid-area: details;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product button.form-submit {
  height: 100%;
  grid-template-columns: 1fr;
  grid-area: cart;
  margin: 5px;
}
.product .form-control {
  color: #000;
}
div.product .form-control--invalid {
  color: var(--warn);
}
@media screen and (max-width: 900px) {
  .product {
    width: 100%;
  }
}
